body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: #230557;
  background: linear-gradient(304deg, rgba(35, 5, 87, 1) 0%, rgba(14, 2, 38, 1) 100%);
  color: white;
  margin: 0px;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #180b2e;
  background: linear-gradient(83deg,rgba(24, 11, 46, 1) 0%, rgba(40, 2, 122, 1) 98%, rgba(53, 0, 168, 1) 100%);
  color: white;
  padding: 0 30px 0 30px;
  border-bottom: solid 3px black;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.nav_links a {
  color: white;
  text-decoration: none;
}

.nav_links a:hover {
  color: lightskyblue;
}

.game-link {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 40px;
}

.description_title {
    font-size: 70px;
    margin-left: 175px;
    margin-top: 74px; 
    margin-bottom: 0px;
    padding-bottom: 31px;
}

.description {
    margin-left: 175px;
    font-size: 30px;
    margin-top: -30px;
    padding-top: 15px;
}

#description_divider {
    margin-top: -25px;
    border: solid 3px white;
    margin-left: 175px;
    width: 575px;
}


#featured {
    font-size: 45px;
    text-align: center;
    
}

h5, h6 {
  font-size: 30px;
  text-align: left;
  margin-left: 50px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.container1 {
  height: 150px;
  width: 1200px;
  border: solid 5px black;
  background: #280269;
  background: linear-gradient(83deg, rgba(40, 2, 105, 1) 0%, rgba(14, 2, 38, 1) 100%);
  border-radius: 90px;
  margin-left: 75px;
}

.container2 {
  height: 150px;
  margin-top: 20px;
  width: 1200px;
  border: solid 5px black;
  background: #280269;
  background: linear-gradient(83deg, rgba(40, 2, 105, 1) 0%, rgba(14, 2, 38, 1) 100%);
  border-radius: 90px;
  margin-left: 75px;
}

.container3 {
  height: 150px;
  margin-top: 20px;
  width: 1200px;
  border: solid 5px black;
  background: #280269;
  background: linear-gradient(83deg, rgba(40, 2, 105, 1) 0%, rgba(14, 2, 38, 1) 100%);
  border-radius: 90px;
  margin-left: 75px;

